@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
    display: none;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 6px;
}